PORT=3000
SESSION_SECRET=cambiar_por_un_secreto

# Variables de la base de datos MySQL (backend/config/database.js)
MYSQL_ROOT_PASSWORD=cambiar
MYSQL_DATABASE=los_vigilantes
MYSQL_USER=usuario
MYSQL_PASSWORD=cambiar
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
